#!/usr/bin/env ruby

# Copyright 2015 Google Inc. All Rights Reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.// Utility functions for animated plots.

compile '/stylesheet/' do
end

compile '/assets/*/' do
end

compile '*' do
  if item.binary?
    # Don’t filter binary items.
  elsif item.identifier == '/CNAME/'
    # Don't do anything; leave it as is.
  else
    if item[:extension] == 'Rmd'
      filter :knitr
    end
    filter :pandoc, args: ['mathjax']
    layout 'default'
  end
end

route '/stylesheet/' do
  '/style.css'
end

route '/assets/third_party/*/' do
  # Strip out '/third_party', version numbers, and '.min' from filenames.
  extension_list = item[:extension].split('.')
  extension = extension_list[extension_list.length - 1]
  trimmed_path = (item.identifier.split('/') - ['third_party'])
  i = trimmed_path.length - 1
  trimmed_path[i] = trimmed_path[i].sub(%r{-[.\d]*(\.min)?$}, '')
  trimmed_path.join('/') + '.' + extension
end

route '/assets/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  elsif item.identifier == '/CNAME/'
    item.identifier.chop
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, :ugly => true
